@font-face
{
   font-family: 'BallparkWeiner';
              src: url('polices/ballpark.eot');
              src: url('polices/ballpark.eot?#iefix')
              format('embedded_opentype'),
                   url('polices/ballpark.wotf')
                   format('wotf'),
                   url('polices/ballpark.ttf')
                   format('truetype'),
                   url('polices/ballpark.svg#BallparkWeiner')
                   format('svg');
}
@font-face
{
   font-family: 'Dayrom';
              src: url('polices/dayrom.eot');
              src: url('polices/dayrom.eot?#iefix')
              format('embedded_opentype'),
                   url('polices/dayrom.wotf')
                   format('wotf'),
                   url('polices/dayrom.ttf')
                   format('truetype'),
                   url('polices/dayrom.svg#Dayrom')
                   format('svg');
}
#bloc_page
{
   margin: auto;
}
header h2
{
   font-family: 'Dayrom', serif;
   font-size: 1.2em;
   color: darkred;
   text-transform: uppercase;
   font-weight: normal;
   border: 2px solid black;
   border-radius: 5px;
   box-shadow: 4px 4px 4px;
}
header p 
{
     font-family: 'Dayrom', serif;
     font-size: 1.1em;
     text-align: justify;

}
.image
{
   float: right;
   text-align: center;
   color: blue;
   text-decoration: underline;
}
h1
{
   text-align: center;
   text-decoration: none;
   color: navy;
   text-transform: uppercase;
   font-size: 1.5em;
   font-weight: normal;
   text-shadow: 4px 4px 4px;
}
.centre
{
   text-align: center;
   color: blue;
   text-decoration: underline;
}
#entete
{
   background-color: snow;
   text-align: center;
   padding: 25px;
}
.bleu
{
   color: maroon;
}
section
{
   background-color: blanchedalmond;
   height: 1650px;
   font-family: 'Dayrom', serif;
}
.droite
{
   text-align: right;
}
.gauche
{
   position: absolute;
   left: 20px;
   bottom: -1350px;
}